

.content{
    font-size: 14px !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    border: 1px solid #9cdef8 !important;
    border-radius: 10px !important;
    box-shadow: 0px 1px 5px grey !important;
    color: #0072bc !important;
}

.h2{
    font-size: 19px  !important;
    font-weight: 500;
}

